# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS metadata
.DS_Store

# Python egg metadata
*.egg-info/
*.egg

# Distribution / packaging
build/
dist/
*.whl

# Log files
*.log

# Test / coverage reports
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover

# Temporary files
*.tmp
*.bak
*.swp