[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=open_in_krita
X-Python-2-Compatible=false
X-KDE-PluginInfo-Author=ComfyUI-Danbooru-Gallery
X-KDE-PluginInfo-Email=noreply@github.com
X-KDE-PluginInfo-Name=open_in_krita
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://github.com/
X-KDE-PluginInfo-Category=Python
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
Name=Open In Krita (ComfyUI Bridge)
Comment=Send images and selections between ComfyUI and Krita
